/* Write your CSS here */

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 100vh;
}
.greet2 {
  border: solid;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  border-radius: 25px;
}
